baseURL: "https://www.jeremydwayne.com/"
languageCode: "en-us"
title: "Jeremy Winterberg - Software Engineer, Private Pilot"
paginate: 10
theme: PaperMod

module:
  mounts:
    source: "content"
    target: "content"
    excludeFiles: ["templates/**"]

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

googleAnalytics: UA-123-45

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  description: "Software Engineer and private pilot who needs a coffee sponsorship."
  keywords: [Software Engineering, Tech, Coding, Aviation, Blog, Portfolio]
  author: Me
  # author: ["Me", "You"] # multiple authors
  images: ["/images/headerlogo.png"]
  DateFormat: "January 2, 2006"
  defaultTheme: light # dark, light
  disableThemeToggle: true

  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: true
  tocopen: false

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "/images/favicon.ico"
    favicon16x16: "/images/favicon-16x16.png"
    favicon32x32: "/images/favicon-32x32.png"
    apple_touch_icon: "/images/apple-touch-icon.png"
    safari_pinned_tab: "/images/safari-pinned-tab.svg"

  label:
    text: "Jeremy Winterberg"
    icon: /images/logo.png
    iconHeight: 35

  # profile-mode
  profileMode:
    enabled: false # needs to be explicitly set
    title: Jeremy Winterberg - Software Engineer
    subtitle: "Software Engineer and private pilot who needs a coffee sponsorship."
    imageUrl: "<img location>"
    imageWidth: 120
    imageHeight: 120
    imageTitle: my image
    buttons:
      - name: Posts
        url: posts
      - name: Tags
        url: tags

  # home-info mode
  homeInfoParams:
    Title: "Hi there \U0001F44B"
    Content:
      Welcome to my blog! Follow along for the journey of my career writing
      software and passion for aviation. I'll be posting about the things I'm
      nerding out on and tips I've picked up along the way.
  socialIcons:
    - name: instagram
      url: "https://instagram.com/jeremydwayne"
    - name: github
      url: "https://github.com/JeremyDwayne"
    - name: youtube
      url: "https://youtube.com/jeremydwayne"
    - name: twitch
      url: "https://twitch.tv/jeremydwayne"
    - name: twitter
      url: "https://twitter.com/jeremydwayne"

  analytics:
    google:
      SiteVerificationTag: "XYZabc"
    bing:
      SiteVerificationTag: "XYZabc"
    yandex:
      SiteVerificationTag: "XYZabc"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  editPost:
    URL: "https://github.com/JeremyDwayne/blog/blob/main/content"
    Text: "Suggest Changes" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: tags
      name: tags
      url: /tags/
      weight: 20
    - identifier: search
      name: search
      url: /search/
      weight: 30
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
markup:
  highlight:
    # anchorLineNos: true
    pygmentsUseClasses: true
    codeFences: true
    guessSyntax: false
    hl_Lines: ""
    lineNoStart: 1
    lineNos: true
    lineNumbersInTable: true
    # noClasses: false
    style: "dracula"
    tabWidth: 2

outputs:
  home:
    - HTML
    - RSS
    - JSON
